/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Greetings Page Styles */
  .greetings {
    text-align: center;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .big-button {
    display: inline-block;
    padding: 20px 40px;
    margin: 10px;
    background-color: #4CAF50;
    border-radius: 8px;
    font-size: 1.5em;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  .big-button:hover {
    background-color: #45a049;
  }
  
  /* Flashcards Page Styles */
  .container {
    text-align: center;
  }
  
  .flashcard {
    background-color: #fff;
    width: 300px;
    height: 200px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    font-size: 1.2em;
    padding: 20px;
  }
  
  .buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #45a049;
  }
  
  .back a {
    color: #4CAF50;
    font-size: 1em;
  }
  
  /* Calculator Page Styles */
  .calculator-container {
    text-align: center;
  }
  
  #display {
    width: 90%;
    max-width: 300px;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 1.5em;
    padding: 5px;
  }
  
  .calculator-buttons {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .calc-btn {
    padding: 20px;
    font-size: 1.2em;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .calc-btn:hover {
    background-color: #45a049;
  }
  